PORT=3000

PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=change_me
PGDATABASE=pureair

MYSQL_HOST=
MYSQL_PORT=4000
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=
MYSQL_SSL_REJECT_UNAUTHORIZED=false

ULTRAMSG_TOKEN=
ULTRAMSG_API_URL=
WHATSAPP_TO=
DASHBOARD_URL=
